:root {
  --secondary-900: rgba(37, 21, 14, 1);
  --genericblack: rgba(0, 0, 0, 1);
  --neutral-800: rgba(31, 41, 55, 1);
  --primary-950: rgba(0, 26, 13, 1);
  --secondary-800: rgba(75, 42, 27, 1);
  --destructive-600: rgba(220, 38, 38, 1);
  --destructive500-main: rgba(239, 68, 68, 1);
  --secondary500-main: rgba(111, 63, 41, 1);
  --primary500-main: rgba(0, 193, 96, 1);
  --neutral-700: rgba(55, 65, 81, 1);
  --primary-400: rgba(51, 255, 153, 1);
  --secondary-700: rgba(112, 64, 41, 1);
  --primary-800: rgba(0, 102, 51, 1);
  --genericwhite: rgba(255, 255, 255, 1);
  --secondary-100: rgba(241, 225, 218, 1);
  --success-900: rgba(49, 46, 129, 1);
  --secondary-950: rgba(19, 11, 7, 1);
  --secondary-50: rgba(248, 240, 236, 1);
  --neutral-50: rgba(249, 250, 251, 1);
  --primary-50: rgba(229, 255, 242, 1);
  --neutral-100: rgba(243, 244, 246, 1);
  --paragraph-overline-large-font-family: "Nunito", Helvetica;
  --paragraph-overline-large-font-weight: 600;
  --paragraph-overline-large-font-size: 14px;
  --paragraph-overline-large-letter-spacing: 1px;
  --paragraph-overline-large-line-height: 20px;
  --paragraph-overline-large-font-style: normal;
  --paragraph-small-regular-font-family: "Nunito", Helvetica;
  --paragraph-small-regular-font-weight: 400;
  --paragraph-small-regular-font-size: 14px;
  --paragraph-small-regular-letter-spacing: 0px;
  --paragraph-small-regular-line-height: 20px;
  --paragraph-small-regular-font-style: normal;
  --heading-h3-semibold-dektop-font-family: "Nunito", Helvetica;
  --heading-h3-semibold-dektop-font-weight: 600;
  --heading-h3-semibold-dektop-font-size: 32px;
  --heading-h3-semibold-dektop-letter-spacing: -0.64px;
  --heading-h3-semibold-dektop-line-height: 40px;
  --heading-h3-semibold-dektop-font-style: normal;
  --display-semibold-small-font-family: "Nunito", Helvetica;
  --display-semibold-small-font-weight: 600;
  --display-semibold-small-font-size: 44px;
  --display-semibold-small-letter-spacing: -0.88px;
  --display-semibold-small-line-height: 48px;
  --display-semibold-small-font-style: normal;
  --paragraph-medium-medium-font-family: "Nunito", Helvetica;
  --paragraph-medium-medium-font-weight: 500;
  --paragraph-medium-medium-font-size: 16px;
  --paragraph-medium-medium-letter-spacing: 0px;
  --paragraph-medium-medium-line-height: 24px;
  --paragraph-medium-medium-font-style: normal;
  --paragraph-overline-small-font-family: "Nunito", Helvetica;
  --paragraph-overline-small-font-weight: 600;
  --paragraph-overline-small-font-size: 12px;
  --paragraph-overline-small-letter-spacing: 1px;
  --paragraph-overline-small-line-height: 20px;
  --paragraph-overline-small-font-style: normal;
  --paragraph-medium-semibold-font-family: "Nunito", Helvetica;
  --paragraph-medium-semibold-font-weight: 600;
  --paragraph-medium-semibold-font-size: 16px;
  --paragraph-medium-semibold-letter-spacing: 0px;
  --paragraph-medium-semibold-line-height: 24px;
  --paragraph-medium-semibold-font-style: normal;
  --label-small-semi-bold-font-family: "Nunito", Helvetica;
  --label-small-semi-bold-font-weight: 600;
  --label-small-semi-bold-font-size: 12px;
  --label-small-semi-bold-letter-spacing: 0px;
  --label-small-semi-bold-line-height: 14px;
  --label-small-semi-bold-font-style: normal;
  --label-small-special-strikethrough-font-family: "Nunito", Helvetica;
  --label-small-special-strikethrough-font-weight: 400;
  --label-small-special-strikethrough-font-size: 12px;
  --label-small-special-strikethrough-letter-spacing: 0px;
  --label-small-special-strikethrough-line-height: 14px;
  --label-small-special-strikethrough-font-style: normal;
  --heading-h3-extrabold-desktop-font-family: "Nunito", Helvetica;
  --heading-h3-extrabold-desktop-font-weight: 800;
  --heading-h3-extrabold-desktop-font-size: 32px;
  --heading-h3-extrabold-desktop-letter-spacing: -0.64px;
  --heading-h3-extrabold-desktop-line-height: 40px;
  --heading-h3-extrabold-desktop-font-style: normal;
  --heading-h4-bold-desktop-font-family: "Nunito", Helvetica;
  --heading-h4-bold-desktop-font-weight: 700;
  --heading-h4-bold-desktop-font-size: 28px;
  --heading-h4-bold-desktop-letter-spacing: -0.56px;
  --heading-h4-bold-desktop-line-height: 36px;
  --heading-h4-bold-desktop-font-style: normal;
  --label-large-semi-bold-font-family: "Nunito", Helvetica;
  --label-large-semi-bold-font-weight: 600;
  --label-large-semi-bold-font-size: 16px;
  --label-large-semi-bold-letter-spacing: 0px;
  --label-large-semi-bold-line-height: 18px;
  --label-large-semi-bold-font-style: normal;
  --label-xsmall-semibold-font-family: "Nunito", Helvetica;
  --label-xsmall-semibold-font-weight: 600;
  --label-xsmall-semibold-font-size: 10px;
  --label-xsmall-semibold-letter-spacing: 0px;
  --label-xsmall-semibold-line-height: 14px;
  --label-xsmall-semibold-font-style: normal;
  --paragraph-small-medium-font-family: "Nunito", Helvetica;
  --paragraph-small-medium-font-weight: 500;
  --paragraph-small-medium-font-size: 14px;
  --paragraph-small-medium-letter-spacing: 0px;
  --paragraph-small-medium-line-height: 20px;
  --paragraph-small-medium-font-style: normal;
  --paragraph-xsmall-medium-font-family: "Nunito", Helvetica;
  --paragraph-xsmall-medium-font-weight: 500;
  --paragraph-xsmall-medium-font-size: 12px;
  --paragraph-xsmall-medium-letter-spacing: 0px;
  --paragraph-xsmall-medium-line-height: 20px;
  --paragraph-xsmall-medium-font-style: normal;
  --paragraph-xsmall-semibold-font-family: "Nunito", Helvetica;
  --paragraph-xsmall-semibold-font-weight: 600;
  --paragraph-xsmall-semibold-font-size: 12px;
  --paragraph-xsmall-semibold-letter-spacing: 0px;
  --paragraph-xsmall-semibold-line-height: 20px;
  --paragraph-xsmall-semibold-font-style: normal;
  --paragraph-large-regular-font-family: "Nunito", Helvetica;
  --paragraph-large-regular-font-weight: 400;
  --paragraph-large-regular-font-size: 18px;
  --paragraph-large-regular-letter-spacing: 0px;
  --paragraph-large-regular-line-height: 28px;
  --paragraph-large-regular-font-style: normal;
  --paragraph-large-medium-font-family: "Nunito", Helvetica;
  --paragraph-large-medium-font-weight: 500;
  --paragraph-large-medium-font-size: 18px;
  --paragraph-large-medium-letter-spacing: 0px;
  --paragraph-large-medium-line-height: 28px;
  --paragraph-large-medium-font-style: normal;
  --paragraph-medium-regular-font-family: "Nunito", Helvetica;
  --paragraph-medium-regular-font-weight: 400;
  --paragraph-medium-regular-font-size: 16px;
  --paragraph-medium-regular-letter-spacing: 0px;
  --paragraph-medium-regular-line-height: 24px;
  --paragraph-medium-regular-font-style: normal;
  --label-medium-medium-font-family: "Nunito", Helvetica;
  --label-medium-medium-font-weight: 500;
  --label-medium-medium-font-size: 14px;
  --label-medium-medium-letter-spacing: 0px;
  --label-medium-medium-line-height: 16px;
  --label-medium-medium-font-style: normal;
  --label-small-medium-font-family: "Nunito", Helvetica;
  --label-small-medium-font-weight: 500;
  --label-small-medium-font-size: 12px;
  --label-small-medium-letter-spacing: 0px;
  --label-small-medium-line-height: 14px;
  --label-small-medium-font-style: normal;
  --label-small-regular-font-family: "Nunito", Helvetica;
  --label-small-regular-font-weight: 400;
  --label-small-regular-font-size: 12px;
  --label-small-regular-letter-spacing: 0px;
  --label-small-regular-line-height: 14px;
  --label-small-regular-font-style: normal;
  --paragraph-small-semibold-font-family: "Nunito", Helvetica;
  --paragraph-small-semibold-font-weight: 600;
  --paragraph-small-semibold-font-size: 14px;
  --paragraph-small-semibold-letter-spacing: 0px;
  --paragraph-small-semibold-line-height: 20px;
  --paragraph-small-semibold-font-style: normal;
  --paragraph-xsmall-regular-font-family: "Nunito", Helvetica;
  --paragraph-xsmall-regular-font-weight: 400;
  --paragraph-xsmall-regular-font-size: 12px;
  --paragraph-xsmall-regular-letter-spacing: 0px;
  --paragraph-xsmall-regular-line-height: 20px;
  --paragraph-xsmall-regular-font-style: normal;
  --label-large-regular-font-family: "Nunito", Helvetica;
  --label-large-regular-font-weight: 400;
  --label-large-regular-font-size: 16px;
  --label-large-regular-letter-spacing: 0px;
  --label-large-regular-line-height: 18px;
  --label-large-regular-font-style: normal;
  --display-bold-small-font-family: "Nunito", Helvetica;
  --display-bold-small-font-weight: 700;
  --display-bold-small-font-size: 44px;
  --display-bold-small-letter-spacing: -0.88px;
  --display-bold-small-line-height: 48px;
  --display-bold-small-font-style: normal;
  --paragraph-large-semibold-font-family: "Nunito", Helvetica;
  --paragraph-large-semibold-font-weight: 600;
  --paragraph-large-semibold-font-size: 18px;
  --paragraph-large-semibold-letter-spacing: 0px;
  --paragraph-large-semibold-line-height: 28px;
  --paragraph-large-semibold-font-style: normal;
  --drop-shadow-medium: 0px 6px 15px -2px rgba(16, 24, 40, 0.08), 0px 6px 15px -2px rgba(16, 24, 40, 0.08);
  --drop-shadow-xsmall: 0px 1px 2px 0px rgba(16, 24, 40, 0.04), 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  --drop-shadow-small: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}
